<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lemme.medidordenivelyvelocidad" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/wireless"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="sensores.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.lemme.medidordenivelyvelocidad" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LevelMeterActivity"
            android:label="@string/title_activity_medidor_nivel"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activities.SpeedometerActivity"
            android:label="@string/title_activity_medidor_velocidad"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activities.TabHostActivity"
            android:label="@string/title_activity_tab_host" >
        </activity>
        <activity
            android:name=".activities.SpeedometerHistoricalActivity"
            android:label="@string/title_activity_speedometer_historical" >
        </activity>
        <activity
            android:name=".activities.LevelMeterHistoricalActivity"
            android:label="@string/title_activity_level_meter_historical" >
        </activity>
    </application>

</manifest>
